---
layout: default
---

{% include header.html %}

{% comment %}
{% include sidebar.html %}
{% endcomment %}

{% include hero.html title="Periodista i escriptora." subtitle="Meritxell Bayarri" image="meritxell-bayarri_tulp9y" %}

<main id="content">

    {% include description.html %}

    {% include socialbox.html%}

    <h2 class="m3 mb4 pb4 caps bold center h3">Articles</h2>

    {% for post in paginator.posts %}
        {% include article-card.html post=post %}
    {% endfor %}

    {% include pagination.html %}

</main>

{% include footer.html %}
