---
layout: default
---

<header class="hero">
    <div class="hero-body Header">
        <div class="container">
            <h1 class="title">
                Meritxell Bayarri
            </h1>
            <h2 class="subtitle">
                Periodista
            </h2>
        </div>
    </div>
</header>

<section class="section">
    <div class="container">
        <h2 class="title">Sobre Mi</h2>
        <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt quo, ut quos natus reprehenderit pariatur dolor dolores perspiciatis eos, reiciendis velit iure veniam impedit voluptatibus odio laborum cupiditate eius placeat!
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <h2 class="title">Ultims articles</h2>
        <div class="columns is-multiline">
            {% for post in paginator.posts %}
                <div class="column is-4">
                    <article class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <a href="{{ post.url | absolute_url  }}">
                                    <img src="http://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                                </a>
                            </figure>
                        </div>
                        <div class="card-content">
                            <h3 class="title">
                                {{ post.title }}
                            </h3>
                            <p>
                                {{ post.excerpt }}
                            </p>
                        </div>
                    </article>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% if paginator.total_pages > 1 %}
<div class="section">
    <div class="container">
        <nav class="pagination is-centered" aria-label="pagination">
            {% if paginator.previous_page %}
            <a class="pagination-previous" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
            {% else %}
            <span class="pagination-previous">&laquo; Prev</span>
            {% endif %}

            <ul class="pagination-list">
            {% for page in (1..paginator.total_pages) %}
                {% if page == paginator.page %}
                <li><span class="pagination-ellipsis">{{ page }}</span></li>
                {% elsif page == 1 %}
                <li>
                    <a class="pagination-link" aria-label="Goto page {{ page }}" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
                </li>
                {% else %}
                <li>
                    <a class="pagination-link" aria-label="Goto page {{ page }}" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
                </li>
                {% endif %}
            {% endfor %}
            </ul>

            {% if paginator.next_page %}
            <a class="pagination-next" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
            {% else %}
            <span class="pagination-next">Next &raquo;</span>
            {% endif %}
        </nav>
    </div>
</div>
{% endif %}
