---
layout: default
---

<section class="hero">
    <div class="hero-body Header">
        <div class="container">
            <h1 class="title">
                Meritxell Bayarri
            </h1>
            <h2 class="subtitle">
                Periodista
            </h2>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <h2 class="title">Sobre Mi</h2>
        <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt quo, ut quos natus reprehenderit pariatur dolor dolores perspiciatis eos, reiciendis velit iure veniam impedit voluptatibus odio laborum cupiditate eius placeat!
        </div>
    </div>
</section>

{% comment %}
<ul>
	{% for post in site.posts %}
		<li>
			<a href="{{ post.url | absolute_url  }}">
				{{ post.title }}
			</a>
		</li>
	{% endfor %}
</ul>


<ul>
	{% for post in paginator.posts %}
		<li>
			<a href="{{ post.url | absolute_url  }}">
				{{ post.title }}
			</a>
		</li>
	{% endfor %}
</ul>


<div class="pagination">
	{% if paginator.previous_page %}
		<a href="{{ paginator.previous_page_path | absolute_url  }}" class="previous">Previous</a>
	{% else %}
		<span class="previous">Previous</span>
	{% endif %}
	<span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
	{% if paginator.next_page %}
		<a href="{{ paginator.next_page_path | absolute_url  }}" class="next">Next</a>
	{% else %}
		<span class="next">Next</span>
	{% endif %}
</div>
{% endcomment %}
