{% comment %} Start Socialbox {% endcomment %}
<div class="ampstart-social-box mb4">
    <amp-social-share type="twitter" aria-label="Share this on Twitter"></amp-social-share>
    <amp-social-share type="facebook" aria-label="Share this on Facebook" data-param-text="Hello world" data-param-href="https://example.com/?ref=URL" data-param-app_id="145634995501895"></amp-social-share>
    <amp-social-share type="gplus" aria-label="Share this on Google Plus"></amp-social-share>
    <amp-social-share type="pinterest" aria-label="Share this on pinterest"></amp-social-share>
    <amp-social-share type="email" aria-label="Share this with E-mail" data-param-subject="Hello World" data-param-body="What's up?"></amp-social-share>
</div>
{% comment %} End Socialbox {% endcomment %}
