---
layout: compress
---
{% assign cached_version = site.time | date: '%s%U' %}
<!doctype html>
<html lang="{{ site.lang }}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://res.cloudinary.com">

    {% seo %}
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="628">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ 'apple-touch-icon.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ 'favicon-32x32.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ 'favicon-16x16.png' | relative_url }}">
    <link rel="manifest" href="{{ 'site.webmanifest' | relative_url }}">
    <link rel="mask-icon" href="{{ 'safari-pinned-tab.svg' | relative_url }}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="{{ 'assets/css/app.css?v=' | append: cached_version | relative_url }}">
</head>

<body>
    {% include navbar.html %}
    {{ content }}
    {% include footer.html %}

    <script defer src="{{ 'assets/js/app.js?v=' | append: cached_version | relative_url }}"></script>
    <script defer src="//instant.page/5.1.1" type="module"
        integrity="sha384-MWfCL6g1OTGsbSwfuMHc8+8J2u71/LA8dzlIN3ycajckxuZZmF+DNjdm7O6H3PSq"></script>
</body>

</html>
