---
layout: default
---

<main class="pt-8 pb-16 lg:pt-16 lg:pb-24 bg-white dark:bg-gray-900">
    <div class="flex justify-between px-4 mx-auto max-w-screen-xl ">
        <article
            class="mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-blue dark:format-invert">
            <header class="mb-4 lg:mb-6 not-format">
                <address class="flex items-center mb-6 not-italic">
                    <div class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white">
                        <img width="64" class="mr-4 w-16 h-16 rounded-full" loading="lazy"
                            src="https://res.cloudinary.com/meritxell/image/upload/f_auto,dpr_auto,q_auto:best,w_64,h_64,c_pad/meritxellbayarri"
                            alt="{{ site.person }}" />
                        <div>
                            <a href="{{ '/' | relative_url }}" rel="author"
                                class="text-xl font-bold text-gray-900 dark:text-white">
                                {{ site.person }}
                            </a>
                            <p class="text-base font-light text-gray-500 dark:text-gray-400">
                                {{ site.position }}
                            </p>
                            <p class="text-base font-light text-gray-500 dark:text-gray-400">
                                <time pubdate datetime="{{ page.date }}">{{ page.date | date: '%B %d, %Y' }}</time>
                            </p>
                        </div>
                    </div>
                </address>
                <h1
                    class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl dark:text-white">
                    {{ page.title }}</h1>
            </header>
            <div data-post-content>
                {{ page.content }}
            </div>
        </article>
    </div>
</main>

{% assign related_posts = site.posts | where_exp: "post", "post.title != page.title" %}
{% if related_posts.size > 0 %}
<aside aria-label="Related articles" class="py-8 lg:py-24 bg-gray-50 dark:bg-gray-800">
    <div class="px-4 mx-auto max-w-screen-xl">
        <h2 class="mb-8 text-2xl font-bold text-gray-900 dark:text-white">Other posts</h2>
        <div class="grid gap-12 sm:grid-cols-2 lg:grid-cols-4">
            {% for post in related_posts limit:4 %}
            <article class="max-w-xs">
                <a href="{{ post.url | relative_url }}">
                    <img width="300" height="250" loading="lazy"
                        src="https://res.cloudinary.com/meritxell/image/upload/w_300,h_250,c_fill,f_auto,dpr_auto,q_auto:best/{{ post.image }}"
                        class="mb-5 rounded-lg" alt="{{ post.title }}">
                </a>
                <h2 class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-white">
                    <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
                </h2>
                <p class="mb-4 font-light text-gray-500 dark:text-gray-400">{{ post.excerpt | strip_html }}</p>
                <a href="{{ post.url | relative_url }}"
                    class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 dark:text-primary-500 hover:no-underline">
                    Read
                </a>
            </article>
            {% endfor %}
        </div>
    </div>
</aside>
{% endif %}
