---
layout: default
---

{% include header.html %}

{% comment %}
{% include sidebar.html %}
{% endcomment %}

{% include hero.html title=page.title subtitle=page.origin image=page.image %}

<main id="content">
    <div class="m3 center">
        <a href="{{ site.url }}" class="h4 italic text-decoration-none">&larr; Volver</a>
    </div>

    <article class="photo-article mt4">
        <div {% comment %} class="ampstart-dropcap" {% endcomment %}>
            {{ content }}
        </div>
        <footer class="mt4">
            <strong>Article original:</strong>
            <a rel="noopener" target="_blank" href="{{ page.link }}">{{ page.link }}</a>
        </footer>
    </article>

    <aside>
        {% include socialbox.html%}
    </aside>
</main>

{% include footer.html %}
